@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center; /* Keep as is if you want other items centered */
  justify-content: flex-start; /* This moves items towards the start (top) */
  min-height: 100vh;
  background-color: #f5f5f5;
}

.logo1{
  grid-area: l;
  align-self: end;
  justify-self: start;
}

.logo2{
  grid-area: ll;
  align-self: center;
  justify-self: left;
  padding-bottom: 100px;
  padding-left: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #84003B;
  font-size: 2.5rem;
}

.container {
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #84052A;
  margin-bottom: 20px;
}

.logoImage {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.logoText {

  font-weight: 700;
  font-size: 2.5rem;
}

.signInBtn, .registerButton {
  padding: 10px 20px; /* Adjust padding to your liking, added horizontal padding */
  border: none; /* Remove border if not needed */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Indicates clickable items */
  background-color: #b666d2; /* Example background color */
  color: black; /* Text color */
  font-family: 'Montserrat', sans-serif; /* Maintain font consistency */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  justify-self: center; /* Center the button */
  display: inline-block; /* Make the element only as wide as its content */
  text-align: center; /* Ensure text is centered */


}

.signInBtn:hover, .registerButton:hover {
  background-color: #84003B; /* Slightly darker shade on hover */
}
.registerCaption{
  color: #954441;
}

.error {
  color: #D4473B; /* Example error color */
  margin: 10px 0; /* Add some vertical margin for spacing */
}


p {
  text-align: center; /* Center-align the text */
  margin: 20px 0; /* Add some spacing around the paragraph */
}

.welcome h2 {
  color: #84003B;
  font-size: 2rem;
  margin-top: 5px;
}

.formContainer {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formGroup {
  width: 100%;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.forgotPassword {
  align-self: flex-end;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.875rem;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.signInBtn {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.signInBtn:hover {
  background-color: #d87093;
  color: #fff;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 0.875rem;
}

.noAccount {
  margin-top: 20px;
  font-size: 0.875rem;
}

.signUp {
  color: #007bff;
  text-decoration: none;
}

.signUp:hover {
  text-decoration: underline;
}

.socialButton {
  /* add space  */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.googleButton {
  background-color: #f5f5f5;
  width: 50%;
  margin-right: 1px;
}

.appleButton {
  background-color: #f5f5f5;
  width: 50%;
}

.icon {
  margin-right: 10px;
}

.socialButton:hover {
  background-color: #e5e5e5;
}

