
.heading{
  position: relative; 
  padding-bottom: 10%;
  /* background: linear-gradient(to left, #A473E6, #9DB7FD, #87FAE7);
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  padding-top: 10px; */
} 
.logo{
  position: relative;
  width: 520px;
  height: 80px;
  left: 1025px;
  top: -1rem;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #D4473B;
  }
.contribute{
  margin-top: 20px;
  color:#D4473B ;
  font-family: 'Montserrat';
}
.subtitle{
  position: absolute;
  width: 879px;
  height: 80px;
  left: 520px;
  top: 2.5rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.1rem;
  line-height: 43px;
  text-align: right;
  
  color: #D4473B;
}
.overall{
  display: flex;
  margin-top: 2.5%;
  
}


.contributorIcon{
  margin-left: 1%;
}
.content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  margin-right: 5rem;
  height: 500px;
  width: 15000px;

}
.contributeTitle{
  color: #D4473B;
  font-family: 'Montserrat';
  position: relative;
  left: 0.5%;
  font-size: 50px;
}
.form-total{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 15px;
  top: 0rem;
  left: 15rem;  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  margin: 10px;
}
.surveyLabel{
  display: flex;
  flex-direction: column;
  top: 2.5rem;
  left:5rem;  
  color: #D4473B;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
}

.surveyLabel2{
  top: 2.5rem;
  left:5rem;  
  color: #D4473B;
  font-family: 'Montserrat';
  font-weight: 700;
}
.topicbuttons {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if needed */
  justify-content: center;
}

.surveyLabel2 h1{
  position: relative;
  left: 1%;
  text-align: center;
}
.form-title{
  padding-top: 10px;
  padding-bottom: 100px;
}

.topics{
  position: relative;
  top: 2.5rem;
  left:5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}

.topics h1{
  margin-left: 10px;
  color: #D4473B;
}

/* .other-topic{
  position: sticky;
  left: 25em;
  top: 0.9rem;
} */
.submit{
  display: flex;
  align-self: center;
  top: 2%;
  padding: 10px;

}


.contributorInput{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #D4473B;
  padding-left: 10px;
  font-size: 20px;
}
.contributorInput2{
  width: 100%;
  height: 150px;
  border-radius: 20px;
  overflow-y: scroll;
  background-color: transparent;
  border-color: #D4473B;
  padding-top: 10px;
  padding-left: 10px;
}


@media screen and (max-width: 650px) {
   
  .contributorInput2{
    height: 90px;
  }

  .contributorInput{
    font-size: 15px;
  }

  .contributeTitle{
    font-size: 30px;
  }

  .surveyLabel{
    font-size: 20px;
  }

  
  }


.contributorBack {
  z-index: 100;
  position: absolute;
  top: 20%;
  right: 1%;
  padding: 10px 20px;
  background-color: #D4473B;
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* add transition */
}

.contributorBack:hover {
  background-color: #D4473B;
  transform: scale(1.1); /* add transform effect */
}

