@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Keep as is if you want other items centered */
  justify-content: flex-start; /* This moves items towards the start (top) */
  min-height: 100vh;
  background: #FFEDFD;
}

.logo1{
  grid-area: l;
  align-self: end;
  justify-self: start;
}

.logo2{
  grid-area: ll;
  align-self: center;
  justify-self: left;
  padding-bottom: 20px;
  padding-left: 100px;
  font-family: 'Georgia', sans-serif;
  color: #D4473B;
  font-weight: 700;
  font-size: 50px;
  line-height: 120px;


}
.logo3{
  color: #D4473B;
  position: absolute;
  left: 100px;
  font-size: 35px;
  top: 73%;
  font-family: 'Montserrat', sans-serif;
}

.right {
  width: 90%;
  max-width: 400px; /* Adjust based on your preference for form width */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px; 
}

/* this is outside of the grid cuz it dont fit and idk how to fix it  */
.slogan{
  grid-area: slogan;
  /*
  position: absolute;
  bottom: 0;*/
  width: 110%;
  justify-self: center;
  font-size: 18px;
  color: #D4473B;
  font-family: 'Montserrat', sans-serif;
}

.signInBtn, .registerButton {
  width: 100%; /* Make buttons full width within the form */
  padding: 10px 0; /* Adjust padding to your liking */
  border: none; /* Remove border if not needed */
  border-radius: 5px; /* Rounded corners */
  margin: 10px 0; /* Space out buttons */
  cursor: pointer; /* Indicates clickable items */
  background-color: #D4473B; /* Example background color */
  color: white; /* Text color */
  font-family: 'Montserrat', sans-serif; /* Maintain font consistency */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.signInBtn:hover, .registerButton:hover {
  background-color: #C1352D; /* Slightly darker shade on hover */
}
.registerCaption{
  color: #954441;
}

.error {
  color: #D4473B; /* Example error color */
  margin: 10px 0; /* Add some vertical margin for spacing */
}

/* Adjustments for paragraph and button spacing */
p {
  text-align: center; /* Center-align the text */
  margin: 20px 0; /* Add some spacing around the paragraph */
}