@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.survey{
  overflow: hidden;

}

.title{
  display: flex;
  width: fit-content;
  text-align: left;
  margin-top: 150px;
  font-size: 10vh;
  color: #781208;
}


.message{
    font-size: 2vh;
    text-align: left;
    margin-left: 1%;
}

.chipContainer {
  display: grid;
  width: 10%;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-auto-rows: minmax(10px, auto);   /* Minimum height for each row */
  gap: 1px;                            
}

@media screen and (max-width: 1140px) {
  .chipContainer{
    margin-left: 5%;
  margin-right: 5%;
  }
}

@media screen and (max-width: 700px) {
  .chipContainer{
    margin-left: 5%;
  margin-right: 5%;
  }
}
.chips{
  margin:10px;
}

.submit{
  position: absolute;
  left: 52%; /* Move the button to the center horizontally */
  transform: translateX(-50%);
}



.dboard{
  
  background-color: #f2f2f2;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:  auto;
  grid-template-areas:
  "l articles "
}
.welcome{
  grid-area: l;
  padding-top: 50px;
  width: 80%;
  padding-left: 5%;
  
}